body {
  font-size: large;
}

h1 {
  font-family: cursive;
  text-align: center;
}

h3 {
  margin: 0;
}

h4 {
  padding: 16px;
  margin: 0;
}
.text-right {

  float: right;
}

li {
  padding: 8px 1.5em 8px 1.5em;
}

label {
  width: 100%;
  margin:0px;
}

li:nth-child(odd) {
  background-color: hsl(354, 70%, 54%, 5%);
}
input[type="checkbox"]:nth-of-type(n) {
  background-color: hsl(354, 70%, 54%, 5%);
  }
/* #checkbox-wrapper:nth-child(5) {
  background-color: hsl(354, 70%, 54%, 50%);
} */

#cost-display {
  height: 50px;
  font-size: 40px;
  font-style: bold;
}

#final {
  display: none;
}