body {
  font-size: large;
}

h1 {
  font-family: cursive;
  text-align: center;
}

/* .text-right {

  text-align: right;
} */

/* li:nth-child(odd) {
  background-color: hsl(354, 70%, 54%, 50%);
} */
/* #checkbox-wrapper:nth-child(5) {
  background-color: hsl(354, 70%, 54%, 50%);
} */

#cost-display {
  height: 50px;
  font-size: 40px;
  font-style: bold;
}

#final {
  display: none;
}